.project {
    display: grid;
    width: 100%;
    height: 500px;

    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 100%;

    margin: 50px 0 50px 0; /* Up and Down space around project */
}

@media screen and (max-width: 1000px) {
  .project {
    grid-template-columns: 100%;
    grid-template-rows: 5% 40% 10% 40% 5%;
  }
}