.informations {
  grid-column: 4 / 5;
}

.r-informations {
  grid-column: 2 / 3;
}

.informations,
.r-informations {
  display: grid;
  grid-template-rows: 20% 60% 20%;
  grid-template-columns: 20% 30% 30% 20%;

  height: 100%;
  width: 100%;
}

.logo-container {
  grid-area: 1 / 4 / 2 / 5;
  align-self: center;
  justify-self: center;
}

.logo {
  width: auto;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  padding: 10px;
}

.title {
  grid-area: 1 / 1 / 2 / 4;
  justify-self: left;

  font-size: 3vh;
  line-height: 5vh;
  letter-spacing: 0.35vh;
  text-transform: uppercase;
  border-bottom: 1.5px solid whitesmoke;
}

.resume {
  grid-area: 2 / 1 / 3 / 5;
  display: flex;
}

.resume-content {
  align-self: center;
  justify-self: center;

  text-align: center;
  line-height: 2.5vh;
  letter-spacing: 2px;
}

.links {
  grid-area: 3 / 1 / 4 / 5;
  display: flex;
  justify-content: space-around;

  font-style: italic;
}

.url-button {
  cursor: pointer;
  color: whitesmoke;
  /* background-color: #99b372; */
  background-color: #272727d0;
  border: 2px solid whitesmoke;

  padding: 15px;
  align-self: center;

  text-decoration: none;
}

.url-button:hover {
  /* background-color: #787a48; */
  background-color: #272727d0;
  opacity: 0.5;
}

@media screen and (max-width: 1000px) {
  .informations,
  .r-informations {
    grid-column: auto;
    grid-row: 4 / 5;
    width: 90%;
    justify-self: center;
  }

  .resume-content {
    font-size: 1.5vh;
    letter-spacing: 1px;
    overflow: auto;
    height: 80%;
  }

  .title {
    font-size: 2vh;
    line-height: 4vh;
  }

  .url-button {
    padding: 5px;
  }
}
