input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    color: black;
}

input[type=submit] {
    background-color: #04AA6D;
    border: 1.5px solid whitesmoke;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
    border: 1.5px solid whitesmoke;
}

.form-container {
    padding: 20px;
    width: 80%;
    transform: translate(12.5%);
}

#contact {
  text-align: center;
  width: 50%;
  transform: translate(50%);
  border-top: 1.5px solid whitesmoke;
}