footer {
    font-size: 10px;
    letter-spacing: 1px;
    height: 100px;
}

.container {
  display: flex;
  justify-content: center;
  width: 10%;
  margin: 0 auto;
}

.copyright {
    font-size: 1.7vh;
    letter-spacing: 1px;
    text-align: center;
}